{{page-title "Boards"}}

<div class="flex sm:flex-row flex-col">

	{{!-- width 1/3 on viewport greater than mobile --}}
	<section class="sm:w-1/3">
		<header>
			<h1 class="text-xl">Boards</h1>
		</header>
		{{!-- loop through with route model to get --}}
		{{#each @model as |board|}}
			<LinkTo class="block p-6 m-2 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" @route="boards.board" @model={{board.uuid}}>
				{{board.name}}
			</LinkTo>
		{{/each}}
	</section>
	<section class="sm:w-2/3">
		{{!-- width 2/3 on viewport greater than mobile --}}
		{{outlet}}
	</section>
</div>