{{page-title "Home"}}

<h2>See existing boards in the navigation bar</h2> 

<p>Good feedback is:</p>
<ul>
	<li>Specific - focus on a single thing that can change</li>
	<li>Kind - assume that everyone on the team is doing their personal best</li>
	<li>Actionable - ensure that the suggestion gives clear next steps</li>
</ul>

{{outlet}}